<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM-flattened.png" alt="Python Logo" width=76% height=58% title="Python Logo">

# What is Python

Python is a high-level, interpreted programming language that was created by Guido van Rossum and first released in 1991. It is known for its simplicity and readability, making it an excellent choice for beginners and experienced programmers alike. Python emphasizes code readability and uses a clean and concise syntax, which allows developers to express concepts in fewer lines of code compared to other programming languages.

### Feature:
Some key features of Python include:

* **Simple and Readable Syntax:** Python's syntax is designed to be straightforward and easy to understand, with an emphasis on code readability. It uses indentation to define code blocks, eliminating the need for explicit braces or keywords.<br>

* **Dynamic Typing:** Python uses dynamic typing, which means that variable types are inferred at runtime. Developers don't need to explicitly declare variable types, making code writing and maintenance more flexible and efficient. <br>

* **Cross-Platform Compatibility:** Python is available on various platforms, including Windows, macOS, Linux, and Unix. This allows developers to write code once and run it on different operating systems without major modifications.<br>

* **Extensive Standard Library:** Python comes with a comprehensive standard library that provides a wide range of modules and functions for common programming tasks. This reduces the need for developers to write code from scratch and allows them to quickly leverage existing functionality.<br>

* **Large Community and Ecosystem:** Python has a vibrant and active community of developers, which contributes to the growth of a vast ecosystem of third-party libraries and frameworks. This ecosystem provides additional tools and resources that can significantly enhance the capabilities of Python for specific applications and domains.<br>

**Overall, Python's simplicity, readability, and versatility have contributed to its popularity among developers and its wide adoption in various industries and domains.**

# Where It can be used

* **Web Development:** Python has frameworks like Django and Flask that enable developers to build robust and scalable web applications. <br>

* **Data Analysis and Visualization:** Python provides libraries such as NumPy, Pandas, and Matplotlib, which are widely used for data manipulation, analysis, and visualization tasks. <br>

* **Machine Learning and Artificial Intelligence:** Python has libraries like TensorFlow, PyTorch, and scikit-learn that make it a popular choice for machine learning and AI applications. <br>

* **Scientific Computing:** Python, along with libraries like SciPy and NumPy, is widely used in scientific research and computational modeling. <br>

* **Automation and Scripting:** Python's simplicity and ease of use make it suitable for automating repetitive tasks and writing scripts for various purposes. <br>

* **Game Development:** Python offers libraries like Pygame that allow developers to create interactive games.<br>

* **DevOps and Infrastructure Automation:** Python is often used in DevOps workflows for tasks such as configuration management, infrastructure automation, and deployment scripting. <br>

* **Internet of Things (IoT):** Python is commonly used for IoT projects due to its simplicity, versatility, and support for various hardware platforms. <br>

* **Data Science:** Python's extensive library ecosystem, including libraries like Pandas, scikit-learn, and seaborn, makes it a preferred language for data science tasks, including data cleaning, exploration, and modeling. <br>

* ***Natural Language Processing (NLP):** Python offers libraries such as NLTK and spaCy that are widely used for processing and analyzing human language data.<br>

* **Web Scraping:** Python's libraries like BeautifulSoup and Scrapy make it easy to extract data from websites.<br>

* **Education:** Python's readability and simplicity make it an ideal language for teaching programming concepts to beginners.<br>

# Syntax of Python

**Since python is dynamically typed, unlike other languages we don not have to specify a variable type when we create a variable in python; they are dynamically inferred during execution.**<br>

## Printing Output

In [ ]:
print("Hello, World!")  # Prints the string "Hello, World!"

Hello, World!

In Python, the **`print()`** function is a built-in function that is used to display **`text`** or other **`objects`** on the standard output device, typically the console or terminal. It allows you to output information to the user or debug your code by printing values of variables, messages, or any other content you want to display.

## Basic Data Types

**Numeric Data Types:**
- `Integer (int)`: Represents whole numbers, positive or negative, without any decimal points.
- `Float (float)`: Represents decimal numbers. It can also represent numbers in scientific notation.

In [ ]:
x = 10         # Integer
y = 3.14       # Float
# we can access the type of a variable using type() function
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

**Boolean Data Type:**

- `Boolean (bool)`: Represents one of two values: True or False. It is useful for logical operations and conditions.

In [ ]:
is_true = True
is_false = False
print(is_true)
print(is_false)
print(type(is_true))
print(type(is_false))

True
False
<class 'bool'>
<class 'bool'>

**Sring Data Type:**

- `String (str)`: Represents a sequence of characters enclosed in single quotes **(')** or double quotes **(")**. Strings are immutable, meaning they cannot be changed once created.

In [ ]:
name = "John"
message = 'Hello, world!'
print(type(name))
print(type(message))

<class 'str'>
<class 'str'>

In [ ]:
# Variables can be assigned values of different data types
name = "John"  # String
age = 25  # Integer
height = 1.75  # Float
is_student = True  # Boolean

**None Type:**

- None (None): Represents the absence of a value or a **`null`** value. It is often used to indicate the absence of a return value or uninitialized variables.

In [ ]:
result = None
print(type(result))

<class 'NoneType'>

## Lists

You can create a list by enclosing comma-separated values within square brackets **`[]`** or by using the **`list()`** constructor. For example:

In [ ]:
# Creating a list
numbers = [1, 2, 3, 4, 5]

# Accessing elements
first_element = numbers[0]  # Access the first element (index 0)

# Modifying elements
numbers[3] = 7  # Change the value of the element at index 2 to 7

# List methods
numbers.append(6)  # Add an element at the end of the list
numbers.remove(3)  # Remove the first occurrence of the element 3

In [ ]:
 print(numbers)

[1, 2, 7, 5, 6]

In [ ]:
# length of list
list_length = len(numbers) #using the len() method

print(list_length)

# Alternatively you can do this
print(len(numbers))

5
5

## Dictionaries

In [ ]:
# Creating a dictionary
student = {
    "name": "John", # key="name", value="john"
    "age": 20, # key="age", value=20
    "grade": "A" # key="grade", value="A"
}

In [ ]:
student

{'name': 'John', 'age': 20, 'grade': 'A'}

In [ ]:
# Accessing a value using key
student["name"], student["age"]

('John', 20)

In [ ]:
student["age"] = 21  # Modifying the value of the "age" key
student["city"] = "New York"  # Adding a new key-value pair

In [ ]:
student

{'name': 'John', 'age': 21, 'grade': 'A', 'city': 'New York'}

In [ ]:
del student["grade"]  # Removing the "grade" key and its value

In [ ]:
student

{'name': 'John', 'age': 21, 'city': 'New York'}

**Dictionaries provide several methods and operations to work with their elements. Some common methods include keys(), values(), and items()**

In [ ]:
print(student.keys())    # Output: dict_keys(['name', 'age', 'city'])
print(student.values())  # Output: dict_values(['John', 21, 'New York'])
print(student.items())   # Output: dict_items([('name', 'John'), ('age', 21), ('city', 'New York')])

dict_keys(['name', 'age', 'city'])
dict_values(['John', 21, 'New York'])
dict_items([('name', 'John'), ('age', 21), ('city', 'New York')])

## Type Conversion

In [ ]:
var1 = 13 #int
print(type(var1))

var2 = str(var1) #converting a int type variable to str type
print(type(var2))

#Alternatively you can also do this (preffered)
print(type(str(var1)))

<class 'int'>
<class 'str'>
<class 'str'>

## Conditional Operators

#### Comparison Operators:
* x == y   # Equal to
* x != y   # Not equal to
* x < y    # Less than
* x > y    # Greater than
* x <= y   # Less than or equal to
* x >= y   # Greater than or equal to

In [ ]:
print(7==7)
print(6!=7)
print(6<7)
# reamining operators can be for class practise

True
True
True

#### Logical Operators
* x and y    # Logical AND
* x or y     # Logical OR
* not x      # Logical NOT

#### Memebrship Operators
* x in y     # True if x is found in the iterable y
* x not in y # True if x is not found in the iterable y

#### Identity Operators
* x is y     # True if x and y refer to the same object
* x is not y # True if x and y do not refer to the same object

## Conditional Statements (if, else, elif)

```python
if condition:
    # Code to execute if condition is True
elif another_condition:
    # Code to execute if another_condition is True
else:
    # Code to execute if none of the above conditions are True
```

In [ ]:
list = [1, 2, 3, 4]

x = 7

if x in list:
    print(f"{x} is in {list}") #formatted string allows us to add variable value inside string
else:
    print(f"{x} is not in {list}")

7 is not in [1, 2, 3, 4]

In [ ]:
score = 35 # try with another value less than 40

if score >= 40:
    print("Passed")
else:
    print("Failed")

Failed

## Functions
Functions in Python are blocks of reusable code that perform a specific task. They allow you to break down your program into smaller, manageable parts and promote code reuse.

**Function Definition:**
- To define a function in Python, you use the def keyword followed by the function name, parentheses **`()`**, and a colon **`:`**. The function body is indented under the definition.

In [ ]:
def greet():
    print("Hello, world!")

In [ ]:
greet()

Hello, world!

**Function Parameters:**
Functions can accept parameters, which are variables that allow you to pass data into the function. Parameters are specified within the parentheses after the function name.

In [ ]:
def greet(name):
    print("Hello, " + name + "!")

In [ ]:
def greet(name):
    # Function definition
    print("Hello, " + name + "!")

greet("John")  # Function call

Hello, John!

**Return Statement:**
Functions can optionally return a value using the **`return`** statement. The value returned by a function can be assigned to a variable or used directly.

In [ ]:
def add_numbers(x, y):
    return x + y

In [ ]:
sum = add_numbers(7,3)
print(sum)

10

**Function Call:**
To execute a function, you call it by using its name followed by parentheses. If the function has parameters, you provide the values within the parentheses.

In [ ]:
greet("Alice")
sum_result = add_numbers(3, 5)
print(sum_result)

Hello, Alice!
8

**Keyword Arguments:**
When calling a function, you can provide arguments using **`keyword-value`** pairs. This allows you to pass arguments in any order, as long as you specify the parameter names.

In [ ]:
greet(name="Alice")

Hello, Alice!

**Variable Number of Arguments**:
Functions can accept a variable number of arguments using special syntax. The **`*args`** parameter allows you to pass multiple arguments as a **`tuple`**.

In [ ]:
def sum_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

In [ ]:
sum = sum_numbers(1,2,3,4)
print(sum)

10

## Loops

#### For Loop

```python
for item in iterable:
    # Code to execute for each item in the iterable
```

In [ ]:
fruit_list = ['apple', 'orange', 'banana', 'mango']

for fruit in fruit_list:
    print(fruit)

apple
orange
banana
mango

In [ ]:
# for looping a number range
for i in range(6,10):
    print(i)

6
7
8
9

**In Python, the range() function generates a sequence of numbers. When specifying a range, the end value is excluded. This design choice is made to align with the zero-based indexing used in Python and many other programming languages.**

**The range() function follows the syntax range(start, stop, step), where start is the starting value (inclusive), stop is the ending value (exclusive), and step is the step size between values. The resulting range includes values from start up to, but not including, stop.**

In [ ]:
# for looping a number range using step
for i in range (0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
# for looping a number range in reverse using step
for i in range (10,0,-2):
    print(i)

10
8
6
4
2

#### While Loop

``` python
while condition:
    # Code to execute as long as the condition is True
```

In [ ]:
number = 0

while number <= 7:
    print(number)
    number += 1 #  += 1 increments the variable number by 1 during each loop execution

0
1
2
3
4
5
6
7

**Infinite Loop can be manually set using `while True:` or it may accidentally occur due to a
conditional error, such as `while 2>1:`.**     
**We can call `break` to manually break out of a loop**

In [ ]:
# infinite loop with break statement
count = 0 # setting loop counting variable
while True:
    count += 1
    print(count)
    if count == 3:
        break

1
2
3

**`if  count == 3 then break` contdition was not set then count value would keep incrementing by 1
and it would print the count value infinite times.**

## Input from user

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))  # Convert input to an integer-->type conversion

Enter your name: tgg
Enter your age: 134

**Input from user through console will always be in string format, if we want input type other than string,
then we need to convert the type from string (str) to any other desired data type.**

## Iteration in Python

Iteration in Python refers to the process of repeatedly executing a block of code, usually within a loop, to perform operations on a sequence of elements. Iteration allows you to traverse or process each item in a collection, such as a list, tuple, string, or dictionary. Python provides several constructs for iteration:

**Using For Loop:**
The **`for`** loop is commonly used for iterating over a sequence of elements. It automatically takes care of managing the iteration variable and stops when it reaches the end of the sequence.

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

**Using While Loop:**
The **`while`** loop repeatedly executes a block of code as long as a given condition is true. It's useful when you want to continue iterating until a specific condition is met.

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

**Iterating Over a Range:**
The **`range()`** function generates a sequence of numbers that can be used in iteration. It is often used with a for loop to iterate a specific number of times.

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

**Enumerate:**
The **`enumerate()`** function allows you to iterate over a sequence while simultaneously accessing both the index and value of each element.

In [ ]:
fruits = ['apple', 'banana', 'orange']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 orange

**Iterating Over a Dictionary:**
When iterating over a dictionary, you can use the **`items()`** method to access both the keys and values of each item.

In [ ]:
person = {'name': 'Alice', 'age': 25, 'country': 'USA'}
for key, value in person.items():
    print(key, value)

name Alice
age 25
country USA

**Iterating Over Strings:**
Strings can be treated as sequences of characters, allowing you to iterate over each character using a loop.

In [ ]:
message = 'Hello, world!'
for char in message:
    print(char)

H
e
l
l
o
,

w
o
r
l
d
!

Iteration is a fundamental concept in programming, and it enables you to perform repetitive operations on data efficiently. Whether you're processing elements in a sequence, iterating a specific number of times, or accessing both keys and values in a dictionary, Python provides flexible constructs for effective iteration.

## List Comprehension
<img src="https://github.com/EDGE-Programe/Python-Basics/blob/master/Python_edge_program/logo_images/list_comprehension.jpg?raw=1" alt="list comprehension" width=70% height=13% title="Python Logo">

List comprehension is a concise way to create lists in Python by combining a loop and conditional statements into a single line of code. It allows you to generate a new list based on an existing list or any iterable, with optional filtering and transformations. <br>
**The general syntax of a list comprehension is as follows:**

```python
new_list = [expression for item in iterable if condition]
```

**Let's break down the components of a list comprehension:**

- **`expression:`** This represents the value or operation applied to each item in the iterable. It determines what will be included in the new list.

- **`item:`** It is a variable that represents each item in the iterable during iteration.

- **`iterable:`** It can be any sequence like a list, tuple, string, or range. It provides the elements that will be iterated over.

- **`condition (optional):`** It allows you to filter elements based on a condition. Only items that satisfy the condition will be included in the new list.

**Example 1:** Generating a list of squares

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [num**2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

**Example 2:** Filtering even numbers

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4]

**Example 3:**
Creating a list of uppercase letters from a string

In [ ]:
string = "Hello, World!"
upper_letters = [char.upper() for char in string if char.isalpha()]
print(upper_letters)

['H', 'E', 'L', 'L', 'O', 'W', 'O', 'R', 'L', 'D']

List comprehensions are a powerful tool that can make your code more concise and expressive. However, it's important to strike a balance between readability and complexity. In some cases, using a traditional loop may be more appropriate, especially when the logic becomes more complex or when working with larger data sets.

## Classes and Object (OOP)

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def drive(self):
        print("Driving the", self.brand, self.model)

my_car = Car("Toyota", "Camry")
my_car.drive()  # Calls the drive method of the my_car object

Driving the Toyota Camry

* In Python, the __init__ method and the self parameter are used in classes to initialize the object's attributes and enable proper attribute access within the class. Let's break down their roles: <br>
1. `__int__` method:
The __init__ method is a special method in Python classes that gets called automatically when an object of the    class is created. It is used to initialize the attributes of the object. By defining this method within a class, you can set up the initial state of the object and provide default values for its attributes. <br>.
  ```python
    class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
```
In the above example, the __init__ method takes two parameters: self (which represents the instance of the object being created) and the additional parameters brand and model. Inside the __init__ method, you can assign the values of brand and model to the object's attributes using the self parameter.

2. self parameter:
The self parameter is a convention in Python that represents the instance of the object itself. It allows you to access and manipulate the object's attributes and methods within the class. By using the self parameter, you can differentiate between the attributes and methods of the current instance and those of the class itself.<br>
```python
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def drive(self):
        print("Driving the", self.brand, self.model)
```
In the above example, the self parameter is used within the __init__ method to set the values of brand and model as attributes of the object. It is also used within the drive method to access the attributes and print them alongside a message.<br>

When you create an instance of the Car class, the self parameter is implicitly passed and refers to that specific instance. For example:<br>
```python
my_car = Car("Toyota", "Camry")
my_car.drive()  # Output: Driving the Toyota Camry
```
In the drive method, self.brand and self.model allow you to access the attributes of the specific my_car instance.<br>
**By using __init__ and self, you can ensure that objects created from the class are properly initialized with their attributes set and that the methods can operate on the specific instance's attributes.**

In [ ]:
your_car = Car("Ford", "Mustang")
your_car.drive()
print(type(your_car).__name__) # printing without the module name

Driving the Ford Mustang
Car

### Polymorphism:
Polymorphism allows objects of different classes to respond to the same method call in different ways. It enables code to be written in a generic manner, working with objects of different types as long as they support a common interface.<br>

In [ ]:
class Shape:
    def calculate_area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def calculate_area(self):
        return self.width * self.height

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return 3.14 * self.radius * self.radius

# Create objects of different shapes
rectangle = Rectangle(4, 5)
circle = Circle(3)

# Call the calculate_area method on different shapes
print(rectangle.calculate_area())  # Output: 20
print(circle.calculate_area())     # Output: 28.26

20
28.259999999999998

In this example, both the **``Rectangle``** and **``Circle``** classes inherit from the **``Shape``** class and **`override`** the **`calculate_area`** method. Each subclass provides its own implementation of calculating the area based on its specific shape. When we call the **``calculate_area``** method on each object, **polymorphism ensures that the appropriate implementation is called based on the object's actual type.**<br>

### Inheritance:
Inheritance allows creating a **``new class (child class)``** from an **``existing class (parent class)``**, inheriting its attributes and methods. The child class can extend the functionality of the parent class or override its methods.<br>

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}")

class Employee(Person):
    def __init__(self, name, age, employee_id):
        super().__init__(name, age)
        self.employee_id = employee_id

    def display_info(self):
        super().display_info()
        print(f"Employee ID: {self.employee_id}")

# Create a Person object
person = Person("John Doe", 30)
person.display_info()
# Create an Employee object
employee = Employee("Jane Smith", 25, "EMP123")
employee.display_info()

Name: John Doe, Age: 30
Name: Jane Smith, Age: 25
Employee ID: EMP123

In this example, the **``Person``** class is the base class, and the **``Employee``** class is the derived class. The **``Employee``** class inherits the **``name``** and **``age``** attributes from the **``Person``** class using the **``super()``** function in its **``__init__``** method. It also **``overrides``** the **``display_info``** method to include additional information specific to employees. When we call the **``display_info``** method on an **``Employee``** object, it first calls the base class's **``display_info``** method using **``super()``**, and then adds the employee ID information.<br>

### Mutable and Immutable Objects

In Python, objects are categorized as either mutable or immutable based on whether their state can be modified after they are created.<br>

Immutable objects: Immutable objects cannot be modified after they are created. If you need to change the value of an immutable object, you create a new object with the updated value. Immutable objects include numbers (integers, floats), strings, tuples, and frozensets.<br>

```python
a = 5  # Immutable integer
b = "Hello"  # Immutable string
c = (1, 2, 3)  # Immutable tuple
```
For example, if you want to change the value of a to 10, you cannot modify it directly. Instead, you create a new object a = 10.<br>

```python
a = 5
a = 10  # Reassigning a new object to `a`
```
Mutable objects: Mutable objects, on the other hand, can be modified after they are created. You can change their state, add or remove elements, or modify existing elements. Mutable objects include lists, dictionaries, sets, and user-defined classes.<br>

```python
x = [1, 2, 3]  # Mutable list
y = {"name": "John", "age": 25}  # Mutable dictionary
z = set([1, 2, 3])  # Mutable set
```
For example, you can modify the elements of a list, add or remove items, or change specific values within a dictionary.<br>

```python
x = [1, 2, 3]
x.append(4)  # Modifying the list by adding an element

y = {"name": "John", "age": 25}
y["age"] = 26  # Modifying the dictionary by changing a value
```
Understanding whether an object is mutable or immutable is important because it affects how you handle and manipulate data. Immutable objects are often used when you need to ensure data integrity, while mutable objects provide flexibility for modifying and updating data in-place.